<h1>Statistics for URL <%= @url %> </h1>

<h2>Response Time Data</h2>
<p> Maximum: <%= @url_max %> </p>
<p> Minimum:  <%= @url_min %> </p>
<p> All Times:  <%= @url_times %> </p>
<p> Average:  <%= @url_average %> </p>

<h2>Other Data</h2>
<p> Associated HTTP Verbs:  <%= @url_verbs %> </p>
<p> Most Populsr Referrers:  <%= @url_referrers %> </p>
<p> Top User Agents:  <%= @url_agents %> </p>
